@font-face {
    font-family: "ChenYuluoyan";
    src: url("./ChenYuluoyanThinMonospaced.ttf")format("truetype"),;
}
body
{
    margin: 0px;
    padding: 0px;
    
}
.back1
{
    z-index: 2;
    height: auto;
    max-width: 100%;
    width: 100vw;
    position: absolute;
    overflow-y: visible;
    overflow-x: hidden;
    scroll-snap-align: start;
    top: 0px;
}
.back2
{  
    height: auto; 
    max-width: 100%;
    width: 100vw;
    position: absolute;
    left: 0px;
    z-index: 5;
}
.mountain
{
    height: auto; 
    max-width: 100%;
    width: 100vw;
    position: absolute;
    left: 0px;
    z-index: 4;
}

.back3
{
    z-index: 1;
    position: fixed;
    background: #1F2C44;
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    overflow-y: visible;
    overflow-x: hidden;
    
}
@media screen and (min-width: 1630px) {/*視窗長度大於1030px*/
    .back3
    {
        height: 900vh;
    }

}

@media screen and (max-width: 800px) {/*視窗長度小於800px*/
    .back3
    {
        height: 300vh;
    }
}

.cloud
{
    z-index: 4;
    height: auto;
    max-width: 100%;
    width: 100vw;
    top: 0px;
    position: absolute;
    left: 0px;
}

/*人物圖像*/
 .people
{
    z-index: 3;
    height: auto;
    width: 40vw;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}
 .behind-people
{
    z-index: 3;
    width: 100vw;
    max-width: 100%;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
.d2
{
    position: absolute;
    z-index: 6;
    width: 20vw; /* 设置容器的宽度 */
    height: 20vh; /* 设置容器的高度 */    
    left: 50%; 
    transform: translateX(-50%); 
}

/*骨灰罈*/
.box
{
    z-index: 6;
    height: auto;
    width: 25vw;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
}
.behind-box
{
    z-index: 6;
    width: 30vw;
    position: absolute;
    top: 95%; 
    left: 50%; 
    transform: translate(-50%, -5%); 
}
/*金句*/
.goldenword
{
    z-index: 50;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    font-family: "ChenYuluoyan";
    font-style: normal;
    font-weight: 100;
    font-size: 7vw;
}
/*名字等資訊+分享*/
.name
{
    z-index: 50;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; /* 让文字在水平方向上居中 */
    height: auto; /* 设置容器的高度，以便在垂直方向上居中 */
    max-width: 100%;
    width: 100vw;
    left: 50%; 
    transform: translateX(-50%); 
}
.name p#n1 
{
    font-family: 'Zen Antique Soft';
    font-style: normal;
    font-weight: 400;
    color: #FFFFFF;
    font-size: 6vw;
    margin-top:40px ;
    margin-bottom:20px ;
}
.name p#n2
{
    font-family: 'Zen Antique Soft';
    font-style: normal;
    font-weight: 400;
    color: #CDC2BF;
    font-size: 3vw;
    margin: 3px 0px;
}
.n-line
{
    background-color:#7B7B7B;
    height: 2px;
    width: 30vw;
    margin-top: 1vh;
    margin-bottom: 1vh;

}
.like
{
    margin-top: 10px;
    z-index: 51;
    /* border: 2px solid #f3130b; */
    height: auto;
    width: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ic
{
    height: auto;
    width:  4vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
}
.share
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.n2-line
{
    background-color:#7B7B7B;
    height: 2px;
    width: 7vw;
    margin-top: 1vh;

}
.n3
{
    font-family: 'Zen Antique Soft';
    font-style: normal;
    font-weight: 400;
    color: #7B7B7B;
    font-size: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vh;
}
/*簡短細節*/
.detail
{   
    /* border: 2px solid #0bf358; */
    position: absolute;
    z-index: 50;
    text-align: center;
    width: 55vw;
    height: auto + 5vh;
    left: 50%; 
    transform: translateX(-50%); 
    padding-top: 5vh;                              /* 補償高度 */
}
.detail p#d1
{ 
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 400;
    color: #E8E8E9;
    font-size: 1.5vw;
    margin-top:5px;
}
.detail p#d2
{ 
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 600;
    color: #E8E8E9;
    font-size: 2vw;
    margin-top: 6vh;
    margin-bottom: 5px;
}
/*圖片播放*/
.photo-container
{
    margin-top: 5vh;                              /* 補償高度*/
    /* border: 2px solid #f30ba6; */
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    width: 30vw;
    height: auto;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;   
    overflow: hidden;
}
.slide
{
    height: auto;
    max-width: 100%;
    width: 100vw;
    object-fit: contain;
}
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out; /* 添加动画效果 */
}

@keyframes slide {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
/*生命故事*/
.story
{
    /* border: 2px solid #0bf358; */
    position: absolute;
    z-index: 50;
    width: 60vw;
    height: auto + 10vh;
    left: 50%; 
    transform: translateX(-50%); 
    margin-top: 5vh;                              /* 補償高度*/
}
#s1
{
    font-family: 'Zen Antique Soft';
    font-style: normal;
    font-weight: 600;
    color: #A78E87;
    font-size: 3vw;
    text-align: center;
    margin-top: 8vh;                              /* 補償高度*/
}
#s2
{
    font-family: 'Zen Antique Soft';
    font-family: 'Zen Kaku Gothic Antique';
    color: #E8E8E9;
    font-size: 1.5vw;
}
/*AI生成*/
.aichat
{
    margin-top: 15vh;                              /* 補償高度*/
    /* border: 2px solid #f30ba6; */
    position: absolute;
    left: 50%; 
    transform: translateX(-50%); 
    width: 60vw;
    height: auto;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 15vh;
}
.chatmode{
    height: auto;
    max-width: 100%;
    width: 100vw;
}