*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
}
@font-face {
    font-family: 'Zen Antique Soft';
    src: url('Zen_Antique_Soft/Zen_Antique_Soft/ZenAntiqueSoft-Regular.ttf') format('woff2');
    /* 可以添加更多字体格式，以确保跨浏览器兼容性 */
}
@font-face {
    font-family: 'Zen Old Mincho';
    src: url('Zen_Antique_Soft/Zen_Old_Mincho/ZenOldMincho-Black.ttf') format('woff');
    /* 可以添加更多字体格式，以确保跨浏览器兼容性 */
}
body{
    background-color:  #F4F0E3;
}
.upper{
    height: auto;
    width: 100vw;
    position: absolute;
    top: 0vw;

    z-index: -1;
}
#logo{
    height: 4vw;
    width: auto;
    position: absolute;
    top: 32vw;
    left: 10vw;
    z-index: 10;
    transition: top 2s;
}
.down{
    height: auto;
    width: 100vw;
    z-index: -1;  
    position: absolute;
    bottom: -16vw;
 
}
.blue{
    height: auto;
    width: 100vw;
    z-index: 4;
    position: absolute;
    bottom: -16vw;
}
#group{
    width: 65vw;
    z-index: 3;
    position: absolute;
    top: 29vw;
    /*移動15vw*/
    left: 28vw;
    transition: top 2s;
}
#cloud{
    z-index: 100;
    height: 60vw;
    width: 200vw;
    position: absolute;
    bottom: -16vw;
    left: 0vw;
    transition: left 2s;
}
.team{

position: absolute;
left: 17vw;
top: 32vw;

font-family: 'Zen Antique Soft', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 3vw;
line-height: 4vw;

color: #A78E87;
z-index: 10;
transition: top 2s;
}
#text{
font-family: 'Zen Old Mincho', sans-serif;
font-style: normal;
font-weight: lighter;
font-size: 1.8vw;
line-height: 3vw;
color: #F4F0E3;
position: absolute;
bottom: -12vw;
left: 40vw;
z-index: 10;

}
