.body {
    margin: 0 0;
}
.back1{
   /* height:170vh;
    width:auto;
    background-image: url('./picture/back.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size:cover;
    background-attachment: scroll;*/
    position: relative;
    width: 100vw;
    height: auto;
       overflow: hidden; 
}
#background{
    width: 100vw;
    height: auto; /* Adjust as needed */
    display: block;
    margin: 0 0;

}
#c2{
    border: 2px solid #f30bb1;
    position: absolute;
    z-index: 6;
    top:0;
    left: 0;
    height: auto;
    width: 100vw;/*300*/

}
#c3{
    border: 2px solid #e21515;
    position: absolute;
    bottom: 0;
    width: 100vw;/*300*/
    z-index: 2;

}
#group5{
    border: 2px solid #15cae2;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: auto;
    width: 100vw;/*700*/
    top:0;
    z-index: 2;
}
#hand{
    border: 2px solid #000;
    position: absolute;
    width: 100vw;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 45%;

}
#bone{
    border: 2px solid #000;
    position: absolute;
    right:10vw;
    top:20vw;
    width:228px;
}

#group10{
    border: 2px solid #000;
    position: absolute;
    left: 10vw;
    top:5vw;
    width: 30vw;
    z-index: 10;
}
#roll{
    position: absolute;
    border: 2px solid #000;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 28vw;
    width:137px;
}
#vector{
    position: absolute;
    border: 2px solid #000;
    left: 50%;
    transform: translate(-50%);
    bottom: 12vw;
    width: 0.5%;

}
#conteiner{
    top:5vw;
    right: 10vw;
    position: absolute;
    z-index: 10;
    border: 2px solid #d2f50c;
}
.s1{
    
    font-family: 'Zen Old Mincho';
    
}
.s1 a{
    margin-left: 8vw;
    font-family: 'Zen Old Mincho';
    font-size: 3vw;
    border: 2px solid #2f12ad;
    color: #A78E87;
    text-decoration: none;
    text-align: right;
}
@media screen and (min-width: 1030px) {/*視窗長度大於1130px*/
    #group10{
        border: 2px solid #000;
        position: absolute;
        left: 10vw;
        top:5vw;
        width: 340px;
        z-index: 10;
    }
    #bone{
        border: 2px solid #000;
        position: absolute;
        right:10vw;
        top:20vw;
        width:20vw;
    }
    .s1 a{
        margin-left: 7vw;
        font-size: 35px;
    }
    #roll{
        width:12vw;
    }
    #vector{
        width: 0.5%;
    }
    #background{
        width: 100vw;
        height: auto; /* Adjust as needed */
    }
}
@media screen and (max-width: 800px) {/*視窗長度小於900px*/
    #bone{
        border: 2px solid #000;
        position: absolute;
        right:10vw;
        top:20vw;
        width:23vw;
    }
    #roll{
        width:15vw;
    }
}