body
{
    margin: 0px;
    padding: 0px;
}
.bottom
{
    position: absolute;
    width: 100vw;
    height: 40vh;
    top: 73vh;
    background-color: antiquewhite;
    
}
.page-section
{
    height: 100vh;
    max-width: 100%;
    width: 100vw;
    position: relative;
    overflow-y: visible;
    overflow-x: hidden;
    scroll-snap-align: start;

}
.hand
{
    position: absolute;
    height: 100vh;
    max-width: 100%;
    width: 100vw;
}
.cloud
{
    height: 100vh;
    max-width: 100%;
    width: 100vw;
    position: absolute;
    bottom: 0;
    width: 100vw;
    z-index: 2;
}
.nav2
{
    z-index: 50;  
    left: 50vw;
    bottom:-6vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(-50%);
}
.a1
{
    background-color: rgb(255, 255, 255);
    padding-left: 8vw;
    padding-top: 30vh;
    padding-right: 8vw;
    padding-bottom: 2vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}
.a1 
{
    font-style: normal;
    font-weight: 600;
    font-size: 27px;    
    white-space:nowrap;
    font-family: "Zen Old Mincho";  
}
.nav2 a 
{
    color: #A78E87;
    text-decoration: none;
    text-align: right;
}
.a2
{ 
    padding-left: 2vw;
    padding-top: 10vh;
    padding-right: 2vw;
}
.logo1
{
    height: 20vh;
    max-width: 100%;
    width: auto;
    position: absolute;
    bottom: 10vh;

}
#money
{
    background: #A78E87;
    border-radius: 31px;
    position: absolute;
    bottom: 30vh;
    left: 41.5vw;
    padding: 5px 20px;
}
.a1 span#money
{
    font-size: 20px; 
    color: #ffffff;
    font-weight: 400;
}
.p1
{
    white-space:nowrap;
    top:26vh;
    z-index: 50;
    position: absolute;
    left: 50vw;
    transform: translateX(-50%); 
    font-size: 64px;  
    display: flex;
    color: #6B5F58;
    font-family: 'Zen Antique Soft';
    font-style: normal;
    font-weight: 400;
}
.choose
{
    z-index: 50;
    position: absolute;
    display: flex;
    left: 50vw;
    bottom:45vh;
    justify-content: center;
    transform: translateX(-50%);
    align-items: center;
}

.c-line
{   

    background-color:gray;
    height: 1px;
    z-index: 51;
    width: 25vw;
}
.c-text
{
    padding-left: 5vw;
    padding-right: 5vw;
    white-space:nowrap;
    font-family: 'Zen Antique Soft';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: #A78E87;
}
