img 
 max-width: 100%
 max-height: 100%

.slider-test
    position: relative
    margin-bottom: 5vh
    z-index: 5
    width: 90vw
    padding: 0

    button
        background-color: black
       
    


.die-today
    width: 200%
    padding: 50px 100px
    box-sizing: border-box
    display: flex
    justify-content: space-between
    overflow: hidden
  
    .person
        display: flex
        flex-direction: column
        align-items: center
        width: 80%
        height: 100%
        position: relative

        &::after
            content: ""
            position: absolute
            bottom: 0
            width: 696px
            height: 157px
            background-image: url("/assets/fog.png")
            z-index: 0

        .picture
            width: 70vh
            height: 60vh
        
        
        .urn
            width: 50%
            transition: all 0.3s ease
            position: relative
            top: -120px
            z-index: 1
            &:hover
                transform: scale(1.5)
.block
    position: relative
    top :20vh